// @use "../root" as *;
@import "colors";

@mixin grid($val) {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
	gap: 2rem;
}
@mixin titleText($titleSize) {
	// font-family: BrunoAce;

	font-size: $titleSize;
	color: $black;
	text-transform: capitalize;
}
@mixin graphText($graphSize) {
	font-size: $graphSize;
	color: $orange;
	line-height: 2;
}
@mixin transformScale($size: 1) {
	transform: scale($size);
	-ms-transform: scale($size);
	-webkit-transform: scale($size);
}
@mixin iconsBox() {
	height: 5rem;
	width: 5rem;
	line-height: 5rem;
	font-size: 2rem;
	// background-color: $orange-light;
	color: $orange;
	cursor: pointer;
	text-align: center;

	&:hover {
		// background: $black;
		color: $white;
	}
}
