.heading-title {
	font-family: "Bruno Ace";
	text-align: center;
	color: $white;
	margin-bottom: 64px;
	@include titleText(64px);
	@include titleText(40px);

	@include for-tablet-landscape-down {
	}
	span {
		// font-family: "Bruno Ace";
		color: $orange;
	}
}
