.heading-title {
	font-family: "Bruno Ace";
	text-align: center;
	color: $white !important;
	margin-bottom: 3rem;
	@include titleText(4rem);
	// padding-left: 1rem;
	// border-left: solid 5px $orange;
	span {
		font-family: "Bruno Ace";
		color: $orange;
	}
}
