.heading-title {
	font-family: "Bruno Ace";
	text-align: center;
	color: $white;
	margin: 48px 0 40px 0;
	@include titleText(64px);

	@include for-tablet-landscape-down {
		@include titleText(40px);
	}
	span {
		color: $orange;
	}
}
