$orange: #f2662c;
$orange-light: #dd8e6b;
$gray: #424242;
$dark-gray: #212529;
$white: #fff;

$off-white: #f2eaef;

$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$primary: $orange;
$secondary: $gray;

$gradient-light: rgb(217, 98, 0);
$gradient-dark: rgb(227, 147, 9);

$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
$border: 0.1rem solid rgba(0, 0, 0, 0.3);
