@use "root" as *;
@use "mixins" as *;
@use "media_queries" as *;
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&family=Work+Sans:wght@100;300&display=swap");

@font-face {
	font-family: BrunoAce;
	src: url(../fonts/BrunoAceRegular.ttf);
}

.custom-font {
	font-family: "BrunoAce";
}

* {
	// font-family: 'Josefin Sans', sans-serif;
	font-family: "Work Sans", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	transition: 0.2s linear;
}

html {
	font-size: 65%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 7rem;

	scrollbar-width: thin;
	scrollbar-color: $primary $black;
	&::-webkit-scrollbar-thumb {
		background-color: $primary;
		&:hover {
			background: $secondary;
		}
	}
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		background: $black;
	}
}
section {
	padding: 5rem 10%;
}
.heading {
	margin-bottom: 3rem;
	@include titleText(3rem);
	padding-left: 1rem;
	border-left: solid 5px $orange;
}
.home {
	padding: 0;
	.slide {
		min-height: 60rem;
		display: flex;
		align-items: center;
		position: relative;
		background-size: cover !important;
		background-position: center !important;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: linear-gradient(90deg, $gray-200, transparent);
		}
		.content {
			width: 50rem;
			position: relative;

			h3 {
				@include titleText(6rem);
				text-transform: uppercase;
			}
			p {
				@include graphText(1.4rem);
				// line-height: 1.5rem;
				padding: 1rem 0;
			}
		}
	}
	.swiper-button-next,
	.swiper-button-prev {
		top: initial;
		bottom: 0;
		left: initial;
		right: 0;
		width: 7rem;
		height: 7rem;
		line-height: 7rem;
		font-size: 3rem;
		background: $white;
		&:hover {
			background: $orange;
		}
		&::after {
			font-size: 2rem;
			color: $black;
		}
	}
	.swiper-button-prev {
		right: 7rem;
	}
}

.btn {
	display: inline-block;
	margin-top: 1rem;
	padding: 1rem 3rem;
	background: $black;
	color: $white;
	cursor: pointer;
	font-size: 1.7rem;
	text-transform: capitalize;
	transition: 0.2s linear;

	&:hover {
		background: $orange;
		color: $black;
	}
}
.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: $box-shadow;
	padding: 1.5rem 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	background: $white;

	.logo {
		@include titleText(3.5rem);
		span {
			color: $orange;
		}
	}
	.navbar a {
		@include titleText(2rem);
		margin: 0 1rem;
		&:hover {
			color: $orange;
		}
	}

	.icons div {
		@include iconsBox();
		margin-left: 0.3rem;
	}

	#menu-btn {
		display: none;
	}
	.navbar {
		position: absolute;
		top: 99%;
		left: 0;
		right: 0;
		background: $white;
		border-top: $border;
		border-bottom: $border;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		transition: 0.2s linear;

		&.active {
			clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
		}

		a {
			display: block;
			margin: 2rem;
		}
	}
}

.contact-info {
	position: fixed;
	top: 0;
	right: 0;
	width: 34rem;
	background: $white;
	height: 100%;
	text-align: center;
	z-index: 1100;
	padding: 0 2rem;
	padding-top: 5rem;
	display: none;
	&.active {
		box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
		display: block;
	}
	#close-contact-info {
		position: absolute;
		top: 1rem;
		right: 1.5rem;
		cursor: pointer;
		font-size: 1rem;
		color: $orange;
		&:hover {
			transform: rotate(90deg);
		}
	}
	.info {
		padding: 2rem 0;
		i {
			@include iconsBox();
			margin-bottom: 0.5rem;
		}
		h3 {
			@include titleText(2rem);
			padding: 1rem 0;
		}

		p {
			@include graphText(1.5rem);
		}
	}

	.share {
		padding-top: 2rem;

		a {
			@include iconsBox();
			margin: 0, 0.3rem;
		}
	}
}
.about {
	.row {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 3rem;
		.video {
			flex: 1 1 41rem;
			video {
				width: 100%;
			}
		}
		.content {
			flex: 1 1 41rem;
			h3 {
				@include titleText(3.5rem);
			}
			p {
				@include graphText(1.5rem);
				padding: 1rem;
			}
		}
	}
	.box-container {
		margin-top: 3rem;
		@include grid(16rem);
		align-items: flex-end;

		.box {
			text-align: center;
			background: $gray-200;
			padding: 3rem 2rem;
			h3 {
				@include graphText(4rem);
			}
			p {
				@include graphText(2rem);
				padding-top: 2rem;
			}
		}
	}
}

.services {
	background-color: $orange-light;

	.box-container {
		@include grid(25rem);

		.box {
			text-align: center;
			padding: 3rem;
			background: $white;
			box-shadow: $box-shadow;
			border: $border;
			&:hover img {
				transform: translateY(-1rem);
			}
			img {
				height: 7rem;
				margin-bottom: 0.5rem;
				transition: 0.2s linear;
			}
			h3 {
				@include titleText(1.7rem);
				padding: 1rem 0;
			}
			p {
				@include graphText(1.4rem);
				padding: 1rem;
			}
		}
	}
}
.projects {
	background-color: $black;
	.heading {
		color: $white;
	}

	.box-container {
		@include grid(30rem);

		.box {
			cursor: initial;
			&:hover .image img {
				transform: scale(1.1);
			}
			.image {
				height: 40rem;
				overflow: hidden;
				img {
					height: 100%;
					width: 100%;
					object-fit: cover;
				}
			}
			.content {
				display: flex;
				gap: 5rem;
				background: $white;
				justify-content: space-between;
				.info {
					padding: 1rem 2rem;
					h3 {
						@include titleText(1.7rem);
					}
					p {
						@include graphText(1.5rem);
					}
				}
				i {
					width: 7.7rem;
					font-size: 3rem;
					background: $orange;
					color: $white;
					cursor: pointer;
					text-align: center;
					line-height: 6.5rem;
				}
			}
		}
	}
}
.reviews {
	.slide {
		p {
			padding: 1.5rem;
			background: $orange-light;
			position: relative;
			margin-bottom: 3rem;

			&::before {
				content: "";
				position: absolute;
				bottom: -1rem;
				left: 2rem;
				height: 2rem;
				width: 2rem;
				background-color: $orange-light;
				transform: rotate(45deg);
			}
		}
		.user {
			display: flex;
			align-items: center;
			gap: 1.5rem;
		}
		img {
			height: auto;
			width: 15%;
		}
		h3 {
			@include titleText(1.5rem);
		}
		.stars {
			padding-top: 0.5rem;

			i {
				font-size: 1.4rem;
				color: $orange;
			}
		}
	}
}

.pricing {
	background-color: $orange-light;

	.box-container {
		@include grid(30rem);

		.box {
			background-color: $white;
			text-align: center;
			padding: 2rem;
			border: $border;
			box-shadow: $box-shadow;
			i {
				font-size: 2rem;
				color: $white;
				height: 7rem;
				line-height: 7rem;
				margin-bottom: 1rem;
				background: $orange;
				border-radius: 50%;
				width: 7rem;
			}
			h3 {
				@include titleText(2rem);
				font-weight: 400;
				padding: 2rem 0;
			}
			.price {
				padding: 1rem 0;
				@include titleText(5rem);
				span {
					font-size: 2rem;
				}
			}
			.list {
				padding: 1rem 0;
				p {
					@include graphText(1.4rem);
				}
			}
		}
	}
}

.contact {
	background: $black;
	.heading {
		color: $white;
	}
	.row {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;

		.map {
			flex: 1 1 41rem;
			width: 100%;
		}
		form {
			flex: 1 1 41rem;

			background: $white;
			padding: 2rem;
			h3 {
				@include titleText(2.5rem);
				// padding-bottom: 1rem;
			}
			.box {
				margin: 7rem 0;
				width: 100%;
				padding: 1.5rem 0rem;
				font-size: 1.6rem;
				color: $gray-800;
				// background: $gray-600;
				border-bottom: $border;

				&:focus {
					border-color: $orange;
				}
			}
			textarea {
				height: 15rem;
				resize: none;
			}
		}
	}
}

.footer {
	text-align: center;
	padding-bottom: 10rem;

	.links .btn {
		margin: 0.5rem;
	}

	.credit {
		@include titleText(2rem);
		margin-top: 2rem;
		padding-top: 1rem;

		span {
			color: var(--yellow);
		}
	}
}
