.btn--pulse:hover,
.btn--pulse:focus {
	animation: pulse 1s;
	box-shadow: 0 0 0 24px transparent;
}
// Basic button styles
button {
	background: none;
	border: 2px solid;
	font: inherit;
	text-transform: uppercase;
	@include graphText(24px);
	margin: 16px 0;
	padding: 16px 24px;
	color: $primary;
	transition: 0.25s;
	font-weight: 800;
	@include for-tablet-landscape-to-small-desktop {
		@include graphText(14px);
		padding: 8px 16px;
		// color: yellow;
	}

	@include for-tablet-landscape-down {
		@include graphText(14px);
		padding: 8px 16px;
	}

	&:hover,
	&:focus {
		border-color: $btn-hover;
		color: #fff;
	}
}
