.about {
	color: $white;

	.row {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 3rem;
		.video {
			flex: 1 1 41rem;
			video {
				width: 100%;
			}
		}
		background-color: rebeccapurple;
		.content {
			@include for-tablet-landscape-down {
				// display: flex;
				align-items: center;
				text-align: center;
			}
			flex: 1 1 41rem;

			h3 {
				@include graphText(32px);
				color: $white;
			}
			p {
				@include graphText(24px);
				color: $white;
			}
		}
	}
	.box-container {
		margin-top: 24px;
		@include grid(16rem);
		align-items: flex-end;
		background-color: $primary;
		.box {
			text-align: center;
			// background: $gray-200;
			padding: 3rem 2rem;
			h3 {
				@include graphText(4rem);
			}
			p {
				@include graphText(2rem);
				padding-top: 2rem;
			}
		}
	}
}
