.home {
	padding: 0;

	&__slide {
		min-height: 60rem;
		display: flex;
		align-items: center;
		position: relative;
		background-size: cover;
		background-position: center;
		padding: 4rem;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background: linear-gradient(180deg, $dark-gray, transparent);
		}

		@include for-tablet-landscape-down {
			justify-content: center;
		}
	}
	&__content {
		width: 50rem;
		position: relative;

		h3 {
			font-family: "Bruno Ace";
			color: $white;
			@include titleText(6rem);
			text-transform: uppercase;
		}
		p {
			@include graphText(1.7rem);
			// line-height: 1.5rem;
			padding: 1rem 0;
		}

		@include for-tablet-landscape-down {
			justify-content: center;
			text-align: center;
			h3 {
				font-size: 3rem;
			}
		}
	}
	&__btn {
		transition: all 0.2s linear;
		font-size: 4rem;
		color: $black;
		padding: 2rem;
		&:hover {
			color: $primary;
			transform: scale(1.1);
		}
		@include for-tablet-landscape-down {
			padding: 4rem;
		}
	}
}
