.pricing {
	// background-color: $orange-light;
	color: $white;

	.box-container {
		@include grid(30rem);

		.box {
			background-color: $dark-gray;
			color: $white;
			text-align: center;
			padding: 2rem;
			border: $border;
			box-shadow: $box-shadow-intense;
			border-radius: 0.9rem;
			i {
				font-size: 40px;
				color: $white;
				height: 7rem;
				line-height: 7rem;
				margin-bottom: 1rem;
				background: $orange;
				border-radius: 50%;
				width: 7rem;
				box-shadow: $box-shadow-intense;
				@include for-tablet-landscape-down {
					font-size: 32px;
				}
			}
			h3 {
				@include titleText(32px);
				font-weight: 400;
				padding: 2rem 0;
				color: $white;
			}
			.price {
				padding: 1rem 0;
				@include titleText(48px);
				color: $white;

				span {
					font-size: 24px;
					color: $orange;
				}
			}
			.btn {
				&:hover {
					color: $white;
				}
			}
			.list {
				padding: 1rem 0;
				p {
					@include graphText(24px);
					color: $orange;
					@include for-tablet-landscape-down {
						line-height: 24px;
					}
				}
			}
		}
	}
}
