.projects {
	// background-color: $black;

	color: $primary;

	&__box-container {
		// @include grid(30rem);
		display: flex;
		gap: 40px;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: center;
		justify-content: center;
	}

	&__box {
		cursor: initial;

		&:hover .image img {
			transform: scale(1.1);
		}
		.image {
			height: 480px;
			overflow: hidden;
			@include for-tablet-landscape-down {
				height: 392px;
			}
			@include for-tablet-landscape-to-small-desktop {
				height: 320px;
			}
			img {
				transition: 0.2s linear;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		.content {
			display: flex;
			// gap: 5rem;
			background-color: $white;
			justify-content: space-between;

			.info {
				align-self: center;
				padding-left: 24px;
				h3 {
					@include titleText(24px);
					color: $primary;

					@include for-tablet-landscape-down {
						@include titleText(16px);
					}
					@include for-tablet-landscape-to-small-desktop {
						@include titleText(16px);
					}
				}
				p {
					@include graphText(24px);
					color: $dark-gray;
					@include for-tablet-landscape-down {
						@include graphText(16px);
					}
					@include for-tablet-landscape-to-small-desktop {
						@include graphText(16px);
						line-height: 16px;
					}
				}
			}
			i {
				width: 20%;
				font-size: 32px;
				background: $orange;
				color: $white;
				cursor: pointer;
				text-align: center;
				line-height: 88px;
				padding: 8px;
				@include for-tablet-landscape-down {
					line-height: 72px;
					font-size: 24px;
				}
			}
		}
	}
}
