.projects {
	// background-color: $black;

	color: $primary;

	&__box-container {
		@include grid(30rem);
	}

	&__box {
		cursor: initial;

		&:hover .image img {
			transform: scale(1.1);
		}
		.image {
			height: 40rem;
			overflow: hidden;
			img {
				transition: 0.2s linear;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		.content {
			display: flex;
			gap: 5rem;
			background: $white;
			justify-content: space-between;

			.info {
				padding: 1rem 2rem;
				h3 {
					@include titleText(24px);
					color: $primary;
				}
				p {
					@include graphText(24px);
					color: $dark-gray;
				}
			}
			i {
				width: 20%;
				font-size: 32px;
				background: $orange;
				color: $white;
				cursor: pointer;
				text-align: center;
				line-height: 88px;
				padding: 8px;
				@include for-tablet-landscape-down {
					line-height: 72px;
					font-size: 24px;
				}
			}
		}
	}
}
