.reviews {
	&__slide {
		&.swiper-slide-next {
			p {
				//make color different
			}
		}
		p {
			padding: 16px;
			background-color: $white;
			color: $dark-gray;
			position: relative;
			margin-top: 24px;
			line-height: 16px;
			text-align: center;
			@include graphText(24px);

			&::before {
				content: "";
				position: absolute;
				top: -16px;
				left: 48px;
				height: 32px;
				width: 32px;
				background-color: $white;
				box-shadow: $box-shadow-medium;
				transform: rotate(45deg);
				z-index: -1;
			}
		}
	}
	&__user {
		display: flex;
		align-items: center;
		gap: 16px;
		margin-bottom: 16px;
		img {
			width: 35%;
			height: auto;
			border: $border-radius__small;
		}

		.info {
			h3 {
				@include titleText(1.5rem);
				color: $primary;
				font-weight: 400;
			}
			.stars {
				padding-top: 0.5rem;

				i {
					@include graphText(16px);
					color: $orange;
				}
			}
		}
	}
	&__btn {
		transition: all 0.2s linear;
		font-size: 40px;
		padding: 16px;
		color: $primary;
		opacity: 0.7;
		@include for-tablet-landscape-down {
			display: none;
		}
		&:hover {
			opacity: 1;
			transform: scale(1.5);
		}
	}
}
