.services {
	// background-color: $orange-light;

	&__box-container {
		@include grid(25rem);
	}

	&__box {
		text-align: center;
		padding: 24px;
		background: $white;
		box-shadow: $box-shadow;
		&:hover img {
			transform: translateY(-1rem);
		}
		img {
			height: 7rem;
			margin-bottom: 0.5rem;
			transition: 0.2s linear;
		}
		h3 {
			@include titleText(24px);
			color: $primary;
			padding: 1rem 0;
			@include for-tablet-landscape-down {
				@include titleText(16px);
			}
		}
		p {
			@include graphText(16px);
			padding: 16px;
			line-height: 24px;
		}
	}
}
