.header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: $box-shadow-medium;
	padding: 16px 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	background: transparent;
	transition: all 0.4s $transition-cubic;
	&.active {
		background: $dark-gray;
		padding: 8px 32px;
		box-shadow: $box-shadow-intense;
	}
	&__logo {
		img {
			width: 120%;
			height: auto;

			&.active {
				width: 50%;
				height: auto;
			}
			@include for-phone-only {
				width: 80%;
				height: auto;
			}
		}
	}
	&__navbar {
		a {
			@include titleText(16px);
			margin: 0 16px;
			color: $white;
			transition: 0.2s $transition-cubic;

			&:hover {
				color: $orange;
			}
			&.activee {
				border-bottom: 1px solid $primary;
				color: $primary;
			}
			@include for-desktop-down {
				font-size: 30%;
				margin: 0 0px;
			}
			@include for-tablet-landscape-down {
				@include titleText(16px);
				transition: all 0.2s linear;
				margin-bottom: 16px;
			}
		}

		@include for-tablet-landscape-down {
			position: absolute;
			top: 99%;
			left: 0;
			right: 0;
			transition: 0.4s linear;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			background-color: $dark-gray;
			border-radius: $border-radius__small;
			padding: 24px 0;
			display: none;

			&.active {
				display: flex;
				@include swingAnimationTop();
			}
			&.in-active {
				display: flex;
				@include scaleOutTop();
			}
		}
	}

	&__icons {
		div {
			@include iconsBox(32px, 24px);
			margin-left: 8px;
		}
		#menu-btn {
			display: none;
			@include for-tablet-landscape-down {
				display: inline-block;
			}
		}
	}

	@include for-tablet-landscape-up {
		padding: 8px, 16px;
	}
}
