.contact-menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 34rem;
	background: $dark-gray;
	height: 100%;
	text-align: center;
	z-index: 1100;
	padding: 0 24px;
	padding-top: 48px;

	display: none;
	@include swingAnimation();
	box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.6);

	&.active {
		box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.45);
		display: block;
	}
	&.in-active {
		display: block;
		@include scaleOutAnimation();
	}
	#close-contact-info {
		position: absolute;
		top: 4rem;
		right: 6rem;
		cursor: pointer;
		font-size: 32px;
		color: $orange;
		transition: all 0.2s $transition-cubic;
		// @include iconsBox(70px, 32px);
		&:hover {
			transform: rotate(90deg);
		}
		@include for-tablet-landscape-down {
			font-size: 24px;
		}
	}
	&__content {
		padding: 8px 16px;
		margin-top: 40px;
		.info {
			padding: 8px 0;
			i {
				@include iconsBox(40px, 24px);
				margin-bottom: -8px;

				@include for-tablet-landscape-down {
					margin-bottom: -40px;
				}
			}
			p {
				@include for-tablet-landscape-down {
					@include graphText(16px);
				}

				@include graphText(24px);
				font-family: "Work Sans", sans-serif;
				letter-spacing: 2px;
				cursor: pointer;
				color: $white;
				position: relative;
				transition: border-color 0.4s ease-in-out;

				&::after {
					content: "";
					position: absolute;
					border-top: 2px solid rgba(242, 102, 44, 0.2);
					left: 35%;
					bottom: 0;
					width: 30%;
					height: 0px;
					transition: all 0.2s ease-in-out;
				}
				&:hover::after {
					border-top: 2px solid rgba(242, 102, 44, 0.8);
					width: 32%;
					left: 34%;
				}
			}
		}

		.share {
			padding-top: 5rem;

			display: flex;
			align-items: center;
			flex-wrap: wrap;
			justify-content: space-around;

			a {
				@include iconsBox(70px, 32px);
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				justify-content: space-around;
				border-radius: $border-radius__medium;
				color: rgba($color: $primary, $alpha: 0.85);
				background: linear-gradient(145deg, #151819, #121415);
				box-shadow: 8px 8px 16px #090a0a, -8px -8px 16px #1f2224;
				border: 2px solid rgba($color: #202120, $alpha: 0.12);

				&::before {
					align-self: center;
				}
				&:hover {
					color: $primary;
					background: #141617;
					box-shadow: inset 8px 8px 16px #090a0a, inset -8px -8px 16px #1f2224;
					border: 2px solid rgba($color: #202120, $alpha: 0.55);
				}

				@include for-tablet-landscape-down {
					@include iconsBox(48px, 24px);
				}

				@include for-tablet-portrait-down {
					// @include iconsBox(24px, 16px);
				}
			}
		}
	}
}
